
.h-img{
    animation: img 1s linear infinite alternate;
}
@keyframes img{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-20px);

    }
}
.card{
    transition: all 0.6s;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-15px);
    
}
.card:hover h5{
    color:var(--bs-info) !important;
    transition: all 0.6s;
}