
.h-img{
    animation: img 1s linear infinite alternate;
}
@keyframes img{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-20px);

    }
}
.card{
    transition: all 0.6s;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-15px);
    
}
.card:hover h5{
    color:var(--bs-info) !important;
    transition: all 0.6s;
}

.w-card{
    overflow: hidden;
}
.w-card img{
    transition: all 0.6s;
    cursor:pointer;

}
.w-card:hover img{
    transform: scale(1.2);
}

.w-card .content{
    transition: all 0.6s;
}
.w-card:hover .content{
    transform: translateY(-10px);
}