:root{
    --main-color:#37517E
}

.bg-nav{
    background-color: var(--main-color);
}
nav  a{
    color: white !important;
}
.dropdown-menu a{
    color: black !important;
}
.text-blue{
  color: var(--main-color);   
}
.gray-line{
    width: 200px;
    height: 2px;
    background-color: lightgray;
}
.cyan-line{
    width: 50px;
    height: 3px;
    background-color: cyan;
}